<a href="https://colab.research.google.com/github/MOHAN0283/python_new/blob/module_2/TUPLES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# printing tuple
tup = ("apple", "banana", "cherry")
print(tup)

('apple', 'banana', 'cherry')

In [ ]:
tup = ("apple", "banana", "cherry", "apple", "cherry")
print(tup)
# allows duplicates

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
tup = ("apple", "banana", "cherry")
print(len(tup))
# length of tuple

3

In [ ]:
tup = ("apple",)
print(type(tup))
#NOT a tuple
tup = ("apple")
print(type(tup))
# , is important after an item or else it will be considered as a string

<class 'tuple'>
<class 'str'>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
print(type(tuple1))
tuple2 = (1, 5, 7, 9, 3)
print(type(tuple2))
tuple3 = (True, False, False)
print(type(tuple3))
tuple4 = ("abc", 34, True, 40, "male")
print(type(tuple4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# to change a tuple convert it into a list
x = ("apple", "banana", "cherry")
y=list(x)
print(y)
y.append("plum")
z=tuple(y)
print(z)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry', 'plum')

In [ ]:
#you can add two tuples
tup = ("apple", "banana", "cherry")
y = ("orange",)
tup=tup+y
print(tup)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
x = ("apple", "banana", "cherry")
y=list(x)
print(y)
y.remove("apple")
x=tuple(y)
print(x)

['apple', 'banana', 'cherry']
('banana', 'cherry')

In [ ]:
# tuple unpacking
x = ("apple", "banana", "cherry")
(red,yellow,pink)=x
print(red)
print(yellow)
print(pink)

apple
banana
cherry

In [ ]:
x = ("apple", "banana", "cherry","papaya")
(red,yellow,*pink)=x
print(*pink)
print(pink)
# note whin printing if u use astrick u will get strings

cherry papaya
['cherry', 'papaya']
x

In [ ]:
x = ("apple", "banana", "cherry","papaya","chocolate")
(red,yellow,*pink,dark)=x# pink is assigned to cherry and papaya but not chocolate
print(pink)

['cherry', 'papaya']

In [ ]:
x = ("apple", "banana", "cherry","papaya","chocolate")
for i in x:
  print(i)

apple
banana
cherry
papaya
chocolate

In [ ]:
x = ("apple", "banana", "cherry","papaya","chocolate")
for i in range(len(x)):
  if(i<4):
    print(x[i])

apple
banana
cherry
papaya

In [ ]:
x = ("apple", "banana", "cherry","papaya","chocolate")
i=0
while(i<len(x)):
  print(x[i])
  i=i+1

apple
banana
cherry
papaya
chocolate

In [ ]:
x = ("apple", "banana", "cherry","papaya","chocolate")# join tuples
y = (1,2,3)
z=x+y
print(z)

('apple', 'banana', 'cherry', 'papaya', 'chocolate', 1, 2, 3)

In [ ]:
x = ("apple", "banana", "cherry","papaya","chocolate")# you can mustiply tuple as well as lists
y=x*2
print(y)
z=x[0]*2
print(z)

('apple', 'banana', 'cherry', 'papaya', 'chocolate', 'apple', 'banana', 'cherry', 'papaya', 'chocolate')
appleapple